.Articles {
	 border-width: 5px;
	 border-color: red;
	 border-style: groove;
	 width: 400px;
	 height: 400px;
	 margin-left: 600px;
	 overflow: scroll;
	 padding: 20px;
}
h3{

	 border-width: 5px;
	 border-color: red;
	border-style: groove;
	color: purple;
	margin-left: 400px;
	margin-right: 400px;
	text-transform: uppercase;

}

	
	
	
h1{
	width: 400px;
	 border-width: 5px;
	 border-color: red;
	border-style: groove;
}
.News{
	width:1000px;
	height:500px;
	 border-width: 5px;
	 border-color: red;
	border-style: groove;
	background-image: url(Marathon_Advertisment.jpg);
}
#Dyde{
	width: 400px;
	 border-width: 5px;
	 border-color: red;
	border-style: groove;
}
a{
	width: 200px;
	 border-width: 5px;
	 border-color: red;
	border-style: groove;
	color: green;
	
}
